.footer{
    font-family: "Kaushan Script", cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 20px;
}
.f2{
    display: flex;
    gap: 10px;
}



@media only screen and (max-width:800px) {
    .footer{
        flex-direction: column;
        gap: 20px;
        padding: 50px 5px;
        text-align: center;
    }
    .f2{
  
        display: grid;

        grid-template-columns: 1fr 1fr;
    }
    
}